{% extends 'Qbin/base.html'%}
{% load static %}
{% block content01%}

  <div class="hero">
        
  </div>

  <div class="group1">


  </div>


  <div class="group2">
   <div class="wrapper">
    <section class="section section1">
      <div class="leftsection1">
        <h2>Making <br>things <br> Better .</h2>
      </div>
      <div class="rightsection1">
        <p>lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur eum nemo ipsa distinctio iure, eveniet quidem non magni. Hic reiciendis fugiat quisquam odio enim maxime perferendis, soluta veniam ipsum atque.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam similique excepturi pariatur, voluptate cupiditate neque asperiores rem voluptatem, enim nisi laboriosam consequuntur sequi magni dolore provident explicabo! Minus, sit fuga!
      </p>
      </div>

      
    </section>
    <section class="section section2">
      <div class="leftsection1">
        
        <p>lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur eum nemo ipsa distinctio iure, eveniet quidem non magni. Hic reiciendis fugiat quisquam odio enim maxime perferendis, soluta veniam ipsum atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam similique excep
         
        </p>
      </div>
      <div class="rightsection1">
        <h2>Making <br>things <br> Better .</h2>
      </div>
    </section>
    <section class="section section3">
      <h2>Section three</h2>
    </section>
   </div>
  </div>


<div class="group3">
  <div class="right"></div>
  <div class="left"></div>
</div>

<div class="group4">

  
</div>


<div class="group5">
  <div class="right5"></div>
  <div class="left5"></div>
</div>

{% endblock content01%}
