*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   
}


.hero{
    height: 100vh;
    width: 100%;
    background-color: #1d3f39;
    
}

.group1{
    height: 300px;

}

.group2{
    position: relative;
    overflow-x: hidden;
}
.section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-shrink: 0;
 
    justify-content: space-around;
    background-color: #558e4c;
}
.section1{
width: 100%;
display: flex;
flex-direction: row;
}
.section h2{
  
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
letter-spacing: 3px;
  color: #1d3f39;

}
.section1 p{
    color: #ffffffdc;
   width: 70%;

    
}
.leftsection1{
 width: 50%;


}
.rightsection1{
    width: 50%;
  padding-top: 200px;
    justify-content: center;
    align-items: center;
   
}
.section2 .leftsection1{
    color: rgba(240, 248, 255, 0.851);
    padding: 70px;
}
.wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.group3{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.group3 .right{
    height: 100%;
    width: 35%;
  background-color: #e6e3d4;
}

.group3 .left{
    height: 100%;
    width: 65%;
    background-color: #bcb179;
}


.group4{
    height: 500px;
    background-color: #1d3f39;

}

.group5{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.right5{
    height: 100%;
    width: 50%;
    background-color: #e6e3d4;
}
.left5{
    height: 100%;
    width: 50%;
    background-color: #655d34;
}